.p10{
  padding-bottom: 20px;
}
.pt1{
  padding-top: 1px;
  padding-bottom: 1px;
}
.pt20{
  padding-top: 20px;
}
.pb25{
  padding-bottom: 25px;
}
.round{
  border-radius: 7%;
}
.border-bottom {
    border-bottom: 3px solid #ccd7e2!important;
}
.border-right {
    border-right: 3px solid #ccd7e2!important;
}
.rounded {
    border-radius: 64px!important;
}
.centered {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textTime{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2vw;
    color: rgb(243, 242, 242);
    position: absolute;
    top: 59%;
    left: 50%;
   
   }
.bodyBc{
    background-color: rgba(233, 233, 233, 0.397);
}
#timer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    color: rgb(161, 161, 161);
    
}
#span1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .overlay {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 14px;
    right: 0;
    height: 96.5%;
    width: 96.5%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-radius: 50%;
    
  }
  
  .container:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    color: white;
    font-size: 1.6vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }
  .backgroundPicUp{
      width: 100%;
      height: 55px;
        background-image: linear-gradient(to bottom, rgba(161, 161, 161, 0),rgba(161, 161, 161, 0.24));
  }
  
  .backgroundPicDown{
    width: 100%;
    height: 55px;
    background-image: linear-gradient(to bottom, rgba(226,226,226,89%),rgb(246,246,246,90%));
}
.whiteBackColor{
  background-color: rgb(246,246,246,100%);
}
.gradient-text {
  background-image: linear-gradient(90deg, #5a6b6b, #612525);
  background-size: 100%;
  background-repeat: repeat;

  /* Text as a mask for the background. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#workDone {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
}
.footer-bottom{
  background: darkcyan;
  text-align: right;
  font-size: 2vw;
  padding: 10px 20px 10px 0;
 
}
.footer{
  background: rgb(248, 249, 250);
 
}
.ul{
  margin: 0;
  padding: 10px 10px 20px 10px;
  
}
.ul li a{
  color: white;
}

.ul li{
  display: inline-block;
  padding: 10px 0 ;
  margin-right: 80px;
  color: black;
}
.round-pic{
  border-radius: 25%;
}
.copyright{
  position: relative;
  float: right;
}
.contact{
  letter-spacing: 0.7rem;
  padding-left: 20px!important;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.openingPages{
  height: 30px;
  width: 30px;
  transition: 0.3s;
}
.openingPages:hover{
  transform: scale(2);
}